@import "styles/common";

.chatItem {
  position: relative;
  @extend .flexCenter;
  width: 350px;
  height: 85px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #f5f5f5;
  }

  &:active {
    background: #3333;
    box-shadow: none;
  }

  .container {
    @extend .alignCen;
    width: 350px;
    height: 70px;
    gap: 10px;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      overflow: hidden;
    }

    .left {
      @extend .justifyBtw;
      flex: 1;
      width: 260px;

      .info {
        @extend .flexCol;
        gap: 10px;
        width: 85%;
        color: #16161a;

        .title {
          font-weight: 600;
        }

        .message {
          color: #16161a;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          letter-spacing: -0.5px;
          user-select: none;
        }
      }

      .darkInfo {
        .title {
          color: #f5f5f5;
        }

        .message {
          color: #fff;
        }
      }

      .right {
        @extend .flexCol;
        align-items: center;
        justify-content: space-between;

        .time {
          color: #16161a;
        }

        .darkTime {
          color: #ccc;
        }

        .btnContainer {
          padding: 5px;
          border-radius: 50%;
          cursor: pointer;
          background: #d6dbdc;
          display: none;

          .button {
            background: none;
            border: none;
            cursor: pointer;
            @extend .flexCenter;
          }
        }

        .darkBtn {
          background: #222;
          .button svg circle {
            fill: #fff;
          }
        }
      }
    }
  }

  .dropDown {
    position: absolute;
    padding: 10px 0;
    top: 50%;
    right: 5%;
    background: #fff;
    z-index: 10;
    @extend .flexColCen;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

    .dropDownItem {
      width: 100%;
      padding: 10px 0;
      padding-left: 1.2rem;

      &:hover {
        background: #f1f2f5;
      }
    }
  }

  .darkDropdown {
    background: #424242;

    .dropDownItem {
      color: #fff;

      &:hover {
        background: #666;
      }
    }
  }
}

.darkChatItem:hover {
  background: #333;
  box-shadow: none;
}
