@import "styles/common";

.chatItem {
  position: relative;
  @extend .alignCen;
  width: 320px;
  height: 70px;
  border-radius: 12px;
  gap: 5px;
  padding: 10px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }

  &:active {
    background: #3333;
    box-shadow: none;
  }

  .avatar {
    @extend .flexCenter;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    overflow: hidden;
  }

  .left {
    @extend .justifyBtw;
    flex: 1;
    width: 210px;

    .info {
      @extend .flexCol;
      gap: 10px;
      width: 85%;
      color: #16161a;
      width: 100%;

      .title {
        font-weight: 600;
        @extend .justifyBtw;

        .time {
          font-weight: normal;
          font-size: 0.9rem;
          color: #16161a;
        }

        .darkTime {
          color: #ccc;
        }
      }

      .row2 {
        display: flex;
        width: 100%;

        .message {
          @extend .alignCen;
          gap: 5px;
          width: 85%;
          color: #16161a;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          letter-spacing: -0.5px;
          word-spacing: -0.5px;
          font-size: 0.9rem;
          height: 24px;
          user-select: none;
        }
      }
    }

    .darkInfo {
      .title {
        color: #f5f5f5;
      }

      .message {
        color: #fff;
      }
    }
  }

  .moreBtn {
    position: absolute;
    top: 55%;
    right: 3%;
  }
}

.darkChatItem:hover {
  background: #333;
  box-shadow: none;
}
