@import "styles/common";

.promptBox {
  padding: 1rem;
  position: absolute;
  @extend .flexCol;
  width: 100%;
  height: max-content;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  z-index: 100;

  .header {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    color: #1e90ff;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  .body {
    padding: 10px 0;

    input {
      width: 100%;
      padding: 7px 10px;
      font-size: 1.1rem;
      border-radius: 7px;
      background: #f1f2f5;
      border: none;
      outline: none;
    }
  }

  .footer {
    @extend .alignCen;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;

    button {
      box-sizing: border-box;
      padding: 5px 10px;
      background: rgb(30, 144, 255);
      color: #fff;
      border: none;
      width: 80px;
      border-radius: 6px;
      font-size: 1.05rem;
      cursor: pointer;

      &:hover {
        background: rgb(40, 110, 255);
      }
    }

    .cancelBtn {
      background: none;
      border: 1px solid #1e90ff;
      color: #1e90ff;

      &:hover {
        background: none;
      }
    }
  }
}

.darkPrompt {
  border: transparent;
  background: #222;
}
