@import "styles/common";

.msgScreen {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ccc;
  @extend .justifyBtw;
  background: #fff;

  .header {
    position: absolute;
    z-index: 10;
    top: 0;
  }

  .messages {
    display: flex;
    width: calc(100% - 320px);
  }
}

.darkMsgScreen {
  background: #202124;
}
