@import "styles/common";

.msgDisplayer {
  @extend .flexColCen;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .msgContainer {
    width: 100%;
    height: 100%;
    @extend .flexCol;
    gap: 1rem;
    justify-content: flex-start;
    padding: 5rem 1rem 2rem 1rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .noConvesation {
      height: 100%;
      @extend .flexCenter;
      font-size: 1.4rem;
      color: #888;
    }

    .msgInfo {
      @extend .flexCol;
      align-items: flex-end;
      gap: 3px;

      .info {
        padding: 0 10px;
        color: #888;
        font-size: 0.8rem;
      }
    }

    .msgInfoRt {
      align-items: flex-start;
    }
  }

  .enterMsg {
    height: 100px;
  }
}

.loadingContainer {
  @extend .loadingContainer;
}
