@import "styles/common";

.container {
  width: 85%;
  @extend .alignCen;
  gap: 1rem;

  .enterMsg {
    position: relative;
    box-shadow: 0 0 10px 0 #3333;
    padding: 5px 10px;
    border-radius: 3rem;
    width: 95%;
    background: #fff;
    display: flex;
    box-shadow: 0 1px 5px 0 rgba(60, 64, 67, 0.15),
      0 4px 4px 0 rgba(60, 64, 67, 0.1), 0 -0.1px 3px 0 rgba(60, 64, 67, 0.08);

    textarea {
      all: unset;
      padding: 5px 10px;
      padding-top: 12px;
      width: 85%;
      line-height: 1.5rem;
      word-wrap: break-word;
      color: #000;
      letter-spacing: -0.5px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .darkTextArea {
      color: #fff;
    }

    .btnContainer {
      @extend .alignCen;
      gap: 5px;
      height: 100%;

      button {
        @extend .flexCenter;
        padding: 10px;
        border-radius: 50%;
        outline: none;
        border: none;
        background: none;

        &:hover {
          background: #1e90ff;
          cursor: pointer;

          path {
            stroke: #fff;
          }
        }

        &:active {
          background: #3333;
        }
      }

      .emoteDark {
        path {
          stroke: #fff;
        }
      }

      .dark {
        path {
          fill: #fff;
        }
      }
    }

    .emojiPicker {
      position: absolute;
      bottom: 110%;
      right: 5%;
    }
  }

  .darkEnterMsg {
    background: #3c4043;
  }

  .submitBtn {
    border: none;
    @extend .flexCenter;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1e90ff;

    &:hover {
      background: blue;
      cursor: pointer;
    }

    svg path {
      fill: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    gap: 10px;
  }
}
