@import "styles/common";

.sidebar {
  position: relative;
  width: 350px;
  height: 100vh;
  border-right: 1px solid #dadce0;
  background: #fff;
  z-index: 11;

  .chatBtn {
    position: absolute;
    z-index: 10;
    bottom: 3%;
    left: 5%;
  }

  .emptySidebar {
    height: 100%;
    padding: 1rem;
    text-align: center;
    @extend .alignCen;
    font-size: 1.3rem;
  }

  .chatContainer {
    @extend .flexCol;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    height: 93vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .prompt {
    top: 45%;
  }
}

.darkSidebar {
  background: #202124;
}

.loadingContainer {
  @extend .loadingContainer;
  width: 350px;
}
