.chatBtn {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 10px;
  border: none;
  background: #1e90ff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 20px 6px #1e90ff;
  }
}
