.chatBtn {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background: #1e90ff;
  color: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  margin-left: 1rem;

  span {
    min-width: 95px;
  }

  .icon {
    min-width: 30px;
  }
}
