.tooltip {
  position: absolute !important;
  padding: 5px;
  background: #f1f2f5;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  opacity: 0;
  word-spacing: -2px;
  z-index: 50;
}

.darkTooltip {
  background: #555;
  color: #fff;
}

.showTooltip {
  opacity: 1;
}
