.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyCen {
  display: flex;
  justify-content: center;
}

.justifyBtw {
  display: flex;
  justify-content: space-between;
}

.justifyArnd {
  display: flex;
  justify-content: space-around;
}

.justifyEvenly {
  display: flex;
  justify-content: space-evenly;
}

.alignCen {
  display: flex;
  align-items: center;
}

.alignStart {
  display: flex;
  align-items: flex-start;
}

.alignEnd {
  display: flex;
  align-items: flex-end;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColEven {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flexColBtw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flexColBtw {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexColStart {
  @extend .flexCol;
  justify-content: flex-start;
  align-items: flex-start;
}
