@import "styles/common";

.profile {
  position: relative;
  @extend .flexColCen;
  gap: 5rem;
  width: 100%;
  height: 90%;

  .imgContainer {
    @extend .flexCenter;
    width: 195px;
    height: 195px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    .image {
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .info {
    @extend .flexCol;
    gap: 1.5rem;
    padding: 10px;
    width: 90%;
  }
}
